<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>HomePage</title>
        <link rel="stylesheet" href="{% static "css/Registration.css"%}">
    </head>
    <body>
        <div align="center">
            <div >
                <h1>Registration Form..!!</h1>
                <hr />
                <p>Up-to-date Registration details..!!</p>
                <a href="/addRegistration/" >Add-Registration</a>
                <a href="/listRegistration/" >List-Registration</a>
            </div>
        </div>
    </body>
</html>

